src/main/mule/department.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="282e2700-0785-4890-a70e-4165e526d516" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="b161613a-6495-49cb-8e4e-af399257353d" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="department" />
	</db:config>
	<flow name="departmentFlow" doc:id="b86dd59b-6713-4f67-8404-2e03eff4f699" >
		<http:listener doc:name="Listener" doc:id="687735e0-6b62-48d1-9a4e-47b262d542d5" config-ref="HTTP_Listener_config" path="/department"/>
		<db:insert doc:name="Insert" doc:id="2529aa6e-8c5a-4880-9a77-071edaf36b8b" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into student values(:st_id, :st_dept_id, :st_name, :st_address)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
    "st_id": payload.st_id,
    "st_dept_id": payload.st_dept_id,
    "st_name": payload.st_name,
    
    "st_address": payload.st_address
    }]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="70c05bf0-5259-41f6-b63f-9c3e0dbc25ba" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
